mixin video(data)
  a(href=`/videos/${data.id}`).video-mixin 
      div.video-mixin__thumb
      div.video-mixin__data
        span.video-mixin__title=data.title
        div.video-mixin__meta
          span #{data.owner.name} •
          span #{data.meta.views} views
          

