extends base 
block content 
  if errorMessage 
    p= errorMessage
  else 
    h1 Change Password
  form(method="POST")
    input(type="password", name="oldPassword", placeholder="Current Password", required)
    input(type="password", name="newPassword", placeholder="New Password", required)
    input(type="password", name="newPasswordConfirmation", placeholder="Confirm New Password", required)
    input(type="submit", value="Change Password")

  
    